

.jumbotron {
    background-color: rgb(134, 19, 19);
    font-style: oblique;
    color: black;
    height: 100%;
}



h1 {
    font-family: cursive;
    font-size: 110px;
    text-shadow: 2px 2px 5px #49207a;
    /* height: 100%; */
    justify-content: center;
}

.card:hover {
    transform: scale(1.03);
    transition: transform 0.2s ease;
    padding: 10px;
}

.card {
    padding: 10px;
    margin: 10px;
    color: rgb(0, 0, 0);
    box-shadow: 5px 5px 9px #000000;
}